<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NBS</title>
<link href="/static/css/css.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery-2.0.3.min.js"></script>
<script src="/static/js/tb.js"></script>
</head>

<body>
<div id="container">
        {% include user.html %}
        {% include header.html %}
        {% include menu.html %}
        <div id="mainContent">
                <div id="sidebar">
                 {% include sms_sidebar.html %}
                </div>
                <div id="content">
                <table class="ue_table" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>   
                        <th align="center" colspan="9" class="th1">短信信息</th>
                </tr>
                <tr class="trlink_f2">
                        <td width="230">时间</td>
                        <td width="130">手机号码</td>
                        <td width="300">手机余额</td>
                        <td width="300">手余流量</td>
                </tr>
                {% for sms in all_sms %}
                <tr >  
                        <td>{{sms.tm_base}}</td>
                        <td>{{sms.phone_number}}</td>
                        <td>{{sms.fare_content}}</td>
                        <td>{{sms.flow_content}}</td>
                </tr>
                {% end %}
                </table>


                </div>
        </div>
        {% include footer.html %}
</div>
</body>
</html>
